<div class="min-h-dvh bg-SideBarBg  text-white rounded-l-3xl  ">

  <!-- About Me Section -->
  <div class="max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-4 text-yellow-400">Projects</h1>
    <div class="w-20 h-1 bg-yellow-500 mb-6"></div>
    <div class="mb-6">
      <!-- Filters -->
      <mat-tab-group class="custom-tab-group">
        <mat-tab label="Frontend Development" class="custom-tab">
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-10">

            <app-Card [dataToBind]="frontendDev"></app-Card>
          </div>
        </mat-tab>
        <mat-tab label="Backend Development">
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-10">

            <app-Card [dataToBind]="frontendDev"></app-Card>
          </div>
        </mat-tab>
        <mat-tab label="Full Stack Development"> Content 3 </mat-tab>
        <mat-tab label="Docker"> Content 3 </mat-tab>

      </mat-tab-group>
    </div>


  </div>