<div class="max-w-6xl mx-auto px-4 py-8 bg-SideBarBg text-white rounded-l-3xl">
  <h1 class="text-4xl font-bold mb-4 text-yellow-400">Resume</h1>
  <div class="w-20 h-1 bg-yellow-500 mb-6"></div>

  <div class="flex flex-col gap-10">

    <!-- Experience Section -->
    <div>
      <h2 class="text-3xl font-bold mb-6 "> Backend Development</h2>
      <div class=" flex flex-wrap gap-8 justify-center p-4 ">

        <app-Card></app-Card>
        <app-Card></app-Card>
        <app-Card></app-Card>
        <app-Card></app-Card>
      </div>


    </div>
    <div>
      <h2 class="text-3xl font-bold mb-6 ">Cloud Deployment</h2>
      <div class=" flex flex-wrap gap-8 justify-center p-4">

        <app-Card></app-Card>
        <app-Card></app-Card>
        <app-Card></app-Card>
        <app-Card></app-Card>
      </div>


    </div>

  </div>

</div>