<div class="min-h-dvh bg-SideBarBg  text-white rounded-l-3xl  ">

  <!-- About Me Section -->
  <div class="max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-4 text-yellow-400">About Me</h1>
    <div class="w-20 h-1 bg-yellow-500 mb-6"></div>
    <p class="text-gray-300 leading-relaxed mb-4 font-mono">
      I'm Shivam Rawat, a Junior Software Developer from India, specializing in web development and backend
      technologies. I have a passion for creating efficient, scalable, and user-friendly solutions that simplify complex
      problems.

    </p>
    <p class="text-gray-300 leading-relaxed font-mono">
      My expertise lies in building robust web applications and optimizing backend systems to ensure seamless
      performance. I enjoy integrating modern tools and technologies like Node.js, Angular, and Redis into my projects
      to deliver innovative and practical solutions.

      With over a year of experience , I have contributed to the development of critical systems
      for the airline cargo industry. My goal is to transform ideas into impactful
      digital products that align with user needs and business goals.
    </p>
  </div>

  <!-- What I'm Doing Section -->
  <div class="max-w-5xl mx-auto px-4 py-12">
    <h2 class="text-3xl font-bold mb-6">What I'm Doing</h2>
    <div class="flex justify-center gap-6 flex-wrap ">
      <!-- Card 1 -->
      <div class="bg-[#222324] p-6 rounded-lg shadow-lg flex items-start space-x-4 w-[48%]">
        <div class="text-yellow-500 text-3xl h-20 w-20">
          <img src="../../assets/images/ui.png" alt="">

        </div>
        <div>
          <h3 class="text-xl font-bold mb-2">Frontend Development</h3>
          <p class="text-gray-300">The most advanced and user-friendly interfaces crafted with precision and modern
            technologies.</p>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="bg-[#222324] p-6 rounded-lg shadow-lg flex items-start space-x-4 w-[48%]">
        <div class="text-yellow-500 text-3xl h-20 w-20">
          <img src="../../assets/images/back.png" alt="">
        </div>
        <div>
          <h3 class="text-xl font-bold mb-2">Backend Development</h3>
          <p class="text-gray-300">Robust and scalable backend systems designed for seamless performance and reliability
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="bg-[#222324] p-6 rounded-lg shadow-lg flex items-start space-x-4 w-[48%]">
        <div class="text-yellow-500 text-3xlh-20 w-20"> <img src="../../assets/images/server.png" alt=""></div>
        <div>
          <h3 class="text-xl font-bold mb-2">Cloud Deployment</h3>
          <p class="text-gray-300">Efficient and secure cloud deployments ensuring scalability, flexibility, and
            optimized performance.</p>
        </div>
      </div>
    </div>
  </div>
</div>