<div class="bg-NavBarBg text-white rounded-bl-[20px] shadow-lg w-[60%] absolute right-0">
  <div class="max-w-4xl mx-auto">
    <nav class="flex justify-center space-x-8 p-4 font-sans">
      <a href="/" class="font-semibold text-yellow-400 hover:text-[#3E51A8]">About</a>
      <a href="/resume" class=" font-semibold text-yellow-400 hover:text-[#3E51A8]">Resume</a>
      <a href="/projects" class="font-semibold text-yellow-400 hover:text-[#3E51A8]">Projects</a>
      <a href="/certification" class="font-semibold text-yellow-400 hover:text-[#3E51A8]">Certificates</a>
      <a href="/contactme" class=" font-semibold text-yellow-400 hover:text-[#3E51A8]">Contact Me</a>
    </nav>
  </div>
</div>