<div class="max-w-full bg-SideBarBg text-white rounded-3xl p-6 shadow-lg h-[600px] flex flex-col  ">
  <!-- Profile Section -->
  <div class="text-center flex flex-col items-center gap-2">
    <div class="w-32 h-32 bg-[#373738] rounded-3xl mx-auto flex items-center justify-center ">
      <!-- Placeholder for Avatar -->
      <img src="https://www.imejis.io/images/tools/memoji-builder/male.png" alt="Avatar"
        class="w-full h-full rounded-full">
    </div>
    <h2 class="text-2xl font-bold font[Roboto] ">Shivam Rawat</h2>
    <p class="text-sm text-gray-400  w-[60%] p-1 bg-[#2B2B2C]">Software Developer</p>
  </div>

  <div class="text-[#3E51A8] ">--------------------------------------------------------------</div>
  <!-- Contact Information -->
  <div class="p-10">
    <div class="flex items-center mb-4">
      <div class="w-5 h-5  items-center justify-center  text-yellow-500 mr-4">
        <img src="../../assets/images/gmail.png" alt="">
      </div>
      <span class="text-gray-300 text-sm font-sans">shivambuddy222.com</span>
    </div>
    <div class="flex items-center mb-4">
      <div class="w-5 h-5  items-center justify-center  text-yellow-500 mr-4">
        <img src="../../assets/images/call.png" alt="">
      </div>
      <span class="text-gray-300 text-sm font-sans">9315896439</span>
    </div>
    <div class="flex items-center mb-4">
      <div class="w-5 h-5  items-center justify-center  text-yellow-500 mr-4">
        <img src="../../assets/images/pin.png" alt="">
      </div>
      <span class="text-gray-300 text-sm font-sans">Haryana,India</span>
    </div>
  </div>

  <!-- Social Media Links -->
  <div class="flex justify-center space-x-6 mt-6">
    <a href="#"
      class="w-8 h-8 bg-gray-700 rounded-full flex items-center justify-center text-gray-300 hover:bg-gray-600">
      <img src="../../assets/images/linkedin.png">
    </a>
    <a href="#"
      class="w-8 h-8 bg-gray-700 rounded-full flex items-center justify-center text-gray-300 hover:bg-gray-600">
      <img src="../../assets/images/insta.png">
    </a>
    <a href="#"
      class="w-8 h-8 bg-gray-700 rounded-full flex items-center justify-center text-gray-300 hover:bg-gray-600">
      <img src="../../assets/images/github.png">
    </a>
  </div>
</div>